exportPattern("^[^\\.]")
import(ape, partitions, optimx, parallel, Matrix, numDeriv, rgl, RColorBrewer)
importFrom(igraph, graph.empty, vertices, shortest.paths)
importFrom(diagram, curvedarrow)
importFrom(nloptr, nloptr)
importFrom(rgenoud, genoud)