exportPattern("^[^\\.]")
export(AddEventToMigrationArray)
export(AddGrowthToAMigrationArray)
export(CalculateGdi)
export(CalculateModelAverages)
export(ConcatenateResults)
export(GenerateMigrationArrayMap)
export(GenerateMigrationIndividuals)
export(GenerateMigrationIndividualsOneAtATime)
export(GetPermutationWeightsAcrossSubsamples)
export(GridSearch)
export(MergeTrees)
export(MsIndividualParameters)
export(PlotModel)
export(PlotModel2D)
export(PrepSubsampling)
export(PrepSubsamplingFiles)
export(RunRaxml)
export(RunSeqConverter)
export(SaveMovie)
import(ape, partitions, optimx, parallel, Matrix, numDeriv, rgl, RColorBrewer, P2C2M)
importFrom(igraph, graph.empty, vertices, shortest.paths)
importFrom(diagram, curvedarrow)
importFrom(nloptr, nloptr)
importFrom(rgenoud, genoud)
importFrom(binom,binom.confint)
